body {
    margin: 0;
    background-color: white;
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    line-height: 1.4;
    color: #585858;
}

.no-scroll {
    overflow: hidden;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

.text-center {
    text-align: center;
}

p {
    margin: 0;
}

/*page*/

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


/*header*/

.header {
    width: 100%;
    height: 85px;
    background-color: rgba(0, 0, 0, 0.2);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header--dark {
    background-color: rgba(0, 0, 0, .8);
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
}

/*nav*/

nav {
    display: flex;
    font-size: 15px;
}

.nav__link{
    display: block;
    padding: 32px 20px;
    color: #fff;
    text-decoration: none;
    transition: all .3s;
}

.nav__link:hover {
    background-color: #004af2;
    cursor: pointer;
}

.nav__link:active {
    background-color: #022370;
}

/*intro*/

.intro{
    height: 600px;
    background: #000
    url(../images/intro-bg.jpg) no-repeat center;
    background-size: cover;
}

.intro--blog {
    height: 600px;
    background: #000
    url(../images/blog-bg.jpg) no-repeat center;
    background-size: cover;
}

.intro--text {
    height: 600px;
    background: #000
    url(../images/text-bg.jpg) no-repeat center;
    background-size: cover;
}

.intro__inner {
    height: 600px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.intro__text {
    margin-bottom: 45px;
    margin-right: 52px;
    text-align: right;
}
.inro__countries {
    font-size: 15px;
    color: #fff;
}
.intro__title {
    position: relative;

    font-size: 110px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    line-height: 0.9;
    color: rgba(255, 255, 255, .8);
}

.intro__title-amp {
    position: absolute;
    right: 0;
    top: 50%;

    transform: translateY(-50%);

    font-size: 170px;
    font-weight: 900;
    color: rgba(255, 255, 255, .2);
}

/*request*/

.request-form {
    width: 100%;
    max-width: 400px;
    background-color: #004AF2;
    border-radius: 5px;
    overflow: hidden;
}

.request-form--right {
    margin-left: auto;
}

.request-form--intro {
    position: relative;
    bottom: -30px;
}

.request__form-header {
    padding: 20px 30px;
    background-color: #033FC9;
}

.request__form-title {
    margin-bottom: 5px;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: 900;
    color: #fff;
}

.request__form-text {
    font-size: 15px;
    color: #fff;

}

.request__form-content {
    padding: 30px 30px;
}

/*form*/

.form__group {
    margin: 25px;
}

.input {
    display: block;
    width: 100%;
    padding-bottom: 12px;
    padding-left: 40px;

    background: none;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, .25);

    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    color: #fff;

    transition: border-color .1s linear;
}

.input:hover {
    border-bottom: 1px solid yellow;
}

.input::placeholder {
    color: #fff;
}

.input:focus {
    outline: none;
    border-bottom: 1px solid yellow;
}

.input--user {
    background: url(../images/user-icon.svg);
    background-repeat: no-repeat;
    background-position: top 5px left 15px;
}

.input--tel {
    background: url(../images/phone-icon.svg);
    background-repeat: no-repeat;
    background-position: top 5px left 15px;
}

.input--email {
    background: url(../images/mail-icon.svg);
    background-repeat: no-repeat;
    background-position: top 5px left 15px;
}

/*btn*/

.btn {
    display: inline-block;
    vertical-align: middle;
    padding: 15px 45px;
    position: relative;
    overflow: hidden;

    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.1;
    color: #fff;
    text-align: center;
    cursor: pointer;
    text-decoration: none;

    background: #333;
    border: 0;
    border-radius: 5px;
}

.btn:before{
    content: "";
    display: block;
    width: 100%;
    height: 100%;

    background-color: rgb(0, 0, 0);
    opacity: 0;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    
    transition: opacity .1s linear;
}

.btn span {
    position: relative;
    z-index: 2;
}

.btn:hover:before {
    opacity: .2;
}

.btn--shadow{
    box-shadow: 0 10px 15px rgba(0, 0, 0, .2);
}

.btn--block {
    display: block;
    width: 85%;
    margin: 0 auto 30px auto;
    box-shadow: none;
}

.btn--orange {
    background-image: linear-gradient(to right, #FF903E, #FF2C2C);
}

.btn--modal {
    margin-bottom: 25px;
    width: 100%;
}

/*services*/
.section--last {
    margin-bottom: 60px;
}

.section {
    margin: 60px 0;
}

.section--map {
    background: url(../images/map.svg)
    no-repeat left 30px 
    top 80px;
}

.section__title {
    margin-bottom: 40px;

    font-family: 'Lato' sans-serif;
    font-size: 45px;
    line-height: 1.2;
    color: #2C2C2C;
    font-weight: 900;
}

.section__title span {
    color: #0D53F2;
}

.services__inner {
    position: relative;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    padding: 0 63px 90px 30px;

    border-radius: 5px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .2);
}

.services__title {
    position: absolute;
    bottom: 12px;
    right: 30px;

    font-family: 'Lato', sans-serif;
    font-size: 90px;
    font-weight: 900;
    line-height: 1;
    color: rgba(44, 44, 44, 0.1);

    z-index: -1;
}

.services__unmarker-list {
    display: flex;
    flex-direction: column;
    max-width: 240px;
    list-style-type: none;
}

.services__list-header {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    line-height: 3.75;
    color: #2C2C2C;
    font-weight: 900;
}

.services__list-link{
    margin-top: auto;
}

.services__link {
    display: inline-block;
    font-size: 15px;
    text-decoration: none;
    color: #004AF2;

    transition: color .1s linear;
}

.services__link:after {
    content: "";
    display: block;
    width: 10px;
    height: 2px;
    background-color: #004AF2 ;
    pointer-events: none;
    margin-top: 5px;

    transition: width .1s linear;
}

.services__link:hover {

    color: #FF3E2F;
}

.services__link:hover:after {
    width: 100%;
    background-color: #FF3E2F;
}

/*Clients*/

.clients {
    display: flex;
    margin-bottom: 60px;
}

.clients__logos {
    width: 60%;
}

.clients__reviews {
    width: 40%;
}

.clients__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.clients__list li {
    margin-right: 40px;
    margin-bottom: 40px;
}

.clients-love {
    display: inline-block;
    margin-left: 40px;
    min-height: 47px;
    padding-top: 5px;

    background: url("../images/heart.svg")
    no-repeat left 20px top;

    color: #464646;
    font-size: 18px;
}
/*Reviews*/

.reviews {
    position: relative;
}

.reviews:before {
    content: "";
    display: block;
    width: 92px;
    height: 126px;

    background: url(../images/lines.svg) no-repeat;

    position: absolute;
    top: -15px;
    left: 2px;
    z-index: 1;

}

.reviews__header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    position: relative;
    z-index: 2;
}

.reviews__header-content {
    flex-grow: 1;
    padding-left: 20px;

    font-family: 'Lato' sans-serif;
}

.reviews__photo {
    width: 100px;
    height: 100px;

    border-radius: 50%;
    border: 5px solid #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
}

.reviews__photo:hover{
    border: 5px solid #FF2C2C;
}

.reviews__name {
    font-size: 18px;
    color: #2C2C2C;
    font-weight: 900;
}

.reviews__company {
    font-size: 15px;
    color: #2C2C2C;
}

.reviews__content {
    color: #585858;
    font-size: 15px;
    line-height: 1.8;
}

.reviews__content p {
    margin-bottom: 20px;
}

.reviews__content p:first-line {
    text-indent: 20px;
}

/*benefits*/

.benefits {
    display: flex;
}

.benefits__col {
    width: 50%;
}

.benefits-list {
    width: 100%;
    max-width: 370px;
    padding-left: 50px;
    position: relative;

    background-image: linear-gradient(to bottom, #fff 40%, #A5A5A5 40%);
    background-size: 2px 35px;
    background-repeat: repeat-y;
    background-position: left 12px top;
}

.benefits-list:before,
.benefits-list:after {
    content: '';
    display: block;
    width: 26px;
    height: 36px;

    background-color: #fff;
    background-repeat: no-repeat;

    position: absolute;
    left: 0;
    z-index: 1;
}

.benefits-list:before {
    background-image: url(../images/pin-start.svg);
    top: 0;
}

.benefits-list:after {
    background-image: url(../images/pin-end.svg);
    bottom: -15px;
}

.benefits-list__item:not(:last-child) {
    margin-bottom: 35px;
}
.benefits-list__title {
    font-family: 'Lato' sans-serif;
    font-size: 21px;
    margin-bottom: 12px;
    line-height: 1.2;
    color: #2C2C2C;
    font-weight: 900;
}
.benefits-list__text {
    font-size: 15px;
    color: #585858;
}

.section-background {
    background-color: #F9F9F9;
}

/*team*/

.section__title--team {
    padding-top: 60px;
}

.section-gray {
    background-color: #F9F9F9;
}

.team {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.team-col {
    width: 33.33333%;
    padding: 0 15px;
    margin-bottom: 30px;
}

.team--photo {
    margin-bottom: 13px;
    box-shadow: 10px 5px 13px rgba(0, 0, 0, .16);
}

.team__name {
    margin-bottom: 5px;

    font-family: 'Lato' sans-serif;
    font-size: 18px;
    color: #2C2C2C;
    font-weight: 900;
    line-height: 1.2;
}

.team__prof {
    margin-bottom: 11px;

    font-size: 15px;
    color: #585858;
}

.team__contacts {
    font-size: 14px;
    line-height: 1.2;
    color: #585858;
}

.team__contacts li {
    margin-bottom: 9px;
}

.team__contacts a {
    color: inherit;
    text-decoration: none;
}

.team__contacts a:hover {
    text-decoration: underline;
}

.team__contacts-icon {
    width: 16px;
    height: auto;
    margin-right: 7px;
}

/*Mission*/

.mission-title {
    font-family: 'Lato' sans-serif;
    font-size: 90px;
    font-weight: 900;
    line-height: 1;
    color: rgba(0, 0, 0, .05);
    text-align: center;
    text-transform: uppercase;

}


.mission {
    position: relative;
    margin-top: -23px;

    font-family: 'Lato' sans-serif;
    text-align: center;

    padding: 60px 30px;
    margin-bottom: 30px;

    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .16);
}

.mission:before,
.mission:after {
    content: '';
    display: block;
    width: 41.66666%;
    height: 2px;

    position: absolute;
    bottom: 0;
    z-index: 1;
}

.mission:before {
    background-color: #004AF2;
    right: 50%;
}

.mission:after {
    background-color: #FF2C2C;
    left: 50%;
}


.mission__title {
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 5px;
    font-weight: 700;
    color: #004AF2;
}

.mission__subtitle {
    font-size: 21px;
    color: #585858;
}

/*news*/

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;

}

.articles--column {
    flex-direction: column;
}

.articles--column .articles__item {
    max-width: none;
    margin-bottom: 45px;
}

.articles__item {
    width: 100%;
    max-width: 500px;
    margin-bottom: 20px;
}

.articles__title {
    margin-bottom: 15px;

    font-size: 18px;
    font-weight: 700;
    color: #2C2C2C;
}

.articles__title a{
    color: inherit;
    text-decoration: none;
}

.articles__title a:hover {
    text-decoration: underline;
}

.articles__text {
    font-size: 15px;
    color: #585858;
    margin-bottom: 15px;
}

.articles__date {
    display: block;

    font-family: 12px;
    color: #6e6e6e;
}

/*footer*/
.footer {
    padding: 40px 0;
    margin-top: auto;
    text-align: center;

    background-color: #F9F9F9;
    background-image:
        url(../images/tire-left.svg),
        url(../images/tire-right.svg);
    background-repeat: no-repeat;
    background-position: 
        left -50px bottom -70px, 
        right -50px bottom -80px;
}

.footer__item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer__contacts {
    margin: 25px 0;

    color: #585858;
    font-size: 12px;
    font-weight: 700;
    font-style: normal;
}

.footer__contacts p {
    margin: 0 0 5px;
}

.footer__contacts a {
    color: inherit;
    text-decoration: none;
}

.footer__contacts a:hover {
    text-decoration: underline;
}

.footer__nav {
    font-size: 12px;
}

.footer__nav a{
    margin: 0 5px;

    color: #004AF2;
    text-decoration: none;
}

.footer__nav a:hover {
    text-decoration: underline;
}


/*Modal*/

.modal {
   display: none;
    flex-direction: column ;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, .9);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
}

.modal .show {
    display: flex;
}

.modal__icon {
    margin-bottom: 10px;
}

.modal__inner {
    position: relative;

    width: 400px;
    padding: 25px;

    background-color: #fff;
}

.modal__inner-header {
    text-align: center;
}

.modal__inner-title {
    font-family: 'Lato' sans-serif;
    font-size: 24px;
    font-weight: 900;
    line-height: 1.2;
    color: #004AF2;

    margin-bottom: 10px;
}

.modal__inner-description {
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.4;

    color: #2C2C2C;
    margin-bottom: 26px;
}

.modal__inner-body {
    margin-bottom: 27px;
}

.modal__input {
    width: 100%;
    margin-bottom: 28px;
    padding-bottom: 12px;
    padding-left: 45px;

    background: none;
    border: none;
    border-bottom: 1px solid #E8E8E8;

    outline: none;

}

.modal__input:hover {
    border-bottom: 1px solid #ffaa0d;
}

.group--text {
    background: url(../images/user-black-icon.svg) 
    no-repeat
    top 1px left 15px;
}

.group--tel {
    background: url(../images/phone-black-icon.svg) 
    no-repeat 
    top 1px left 15px;
}

.group--email {
    margin-bottom: 0;
    background: url(../images/mail-black-icon.svg) 
    no-repeat
    top 5px left 15px;
}

.modal__inner-footer {
    border-top: 1px solid #E8E8E8;
    text-align: center;
}

.modal__footer-description>p {
    margin: 0;
    font-style: normal;
}

.modal__footer-title {
    font-family: 'Lato' sans-serif;
    font-size: 18px;
    font-weight: 900;
    line-height: 1.2;
    color: #2C2C2C;
    margin-top: 25px;
    margin-bottom: 10px;
}

.modal__inner-body {
    display: block;
    width: 100%;
}

.modal__footer-description {
    font-family: 'Lato' sans-serif;
    font-size: 15px;
    line-height: 1.4;
    color: #2C2C2C;
    font-weight: 400;
}

.modal__footer-description>p>a {
    font-family: 'Lato' sans-serif;
    font-size: 15px;
    line-height: 1.4;
    color: #2C2C2C;
    font-weight: 400;
    text-decoration: none;
}

.modal__footer-description>p>a:hover {
    text-decoration: underline;
}

.modal__close {
    position: absolute;
    top: -25px;
    right: -30px;
    padding: 0;
    z-index: 1;

    height: 20px;
    width: 20px;

    border: none;
    background: none;
    cursor: pointer;

    transition: fill .2s linear;
    transition: transform .2s linear;
}

#Path_7 {
    fill: #FF2C2C;
}

#Path_7:hover {
    fill: #ae0e0e;
}

#close {
    transition: transform .2s linear;
}

#close:hover {
    transform: rotate(90deg);
}

/*main*/

.main {
    display: flex;
}

.main__column {
    width: 50%;
}

/*Text*/

.text {
    max-width: 890px;
    font-size: 18px;
    color: #585858;
    line-height: 1.5;
    margin-bottom: 50px;
}



.text h2,
.text h3 {
    margin-bottom: 20px;

    font-size: 20px;
    color: #2C2C2C; 
}

.text ul,
.text ol {
    margin-bottom: 20px;
}

.text ol {
    list-style: decimal;
    list-style-position: inside;
}

.text ul {
    list-style: disc;
    list-style-position: inside;
}

.text p {
    margin-bottom: 20px;
}

.text img {
    margin-bottom: 20px;
    display: block;
    width: 100%;
    height: auto;
}